@model TiendaOnline.Category

@{
    ViewBag.Title = "Delete";
}

<section id="cart_items">
    <div class="container">

        <div>
            @Html.ActionLink("Categorías", "Index")
        </div>

        <h3>¿Estás seguro de que deseas borrar la siguiente categoría?</h3>

        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nombre)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Borrar" class="btn btn-primary" /> 
                    <a class="btn btn-default" href="@Url.Action("Index")">Cancelar</a>
                </div>
            }
        </div>
    </div>
</section>
